header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  box-shadow: 0 2px  2px 0 rgba(151, 150, 150, 0.645);
  padding: 20px 10px;
  font-size: 20px;
  font-weight: 700;
  background-color: var(--baby-powder);
  position:relative;
}
header>:nth-child(2){
  display: flex;
  gap: 30px;
}
header>:nth-child(2) a{
  color: var(--dark-blue);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

header>:nth-child(2) a:hover{
  color: orange;
  box-shadow: 0 2px  rgba(227, 227, 227, 0.645);
}

img{
  width: 100px;
}

@media  (max-width: 750px){
  header{
    justify-content: center;
  }
  header>:nth-child(2){
    flex-direction: column;
    width: 25vw;
    height: 100vh;
    position: fixed;
    top: 100px;
    right: -300px;
    z-index: 3;
    background-color: rgba(245, 245, 220, 0.538);
    padding: 20px;
  }
}