header{
  background-color: rgb(0, 0, 0);
  padding: 15px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo{
  width: 50px;
}



.links{
  display: flex;
  gap: 30px;
  align-items: center;
}
#hamburger-menu{
  color: white;
  display: none;

}

.links a{
  color: white;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
}
.links a:hover{
  color: rgba(255, 255, 255, 0.542);
}

.links>:last-child{
  background-color: white;
  color: black;
  padding: 7px 3px;
  border-radius: 10px;
  transition: background-color 0.3s ease-in,
  color 0.4s ease-in; 
}
.links>:last-child:hover{
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
}

@media (max-width: 580px){
  .navigation-links{
    display: none;
  }
  #hamburger-menu{
    display: block;
  }
}
