.education{
  margin: 60px 0;
}
.education>h2{
  text-align:center;
}
.all{
  display: flex;
  justify-content: space-around;
  color: black;
}

.all>div{
  width: 500px;
  padding: 30px 20px;
  background: #fff;
}