body{
  font-family: "open-sans", system-ui;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width:100vw;
  overflow-x: hidden;
}
header, .hero{
  font-family: "Aboreto", system-ui;
}

a{
  text-decoration:  none;
  color: white;
}
