body{
  color: rgb(221, 219, 219);
  background: url(./assets/body.jpg) center no-repeat;
  background-size: cover;
  font-family: "open-sans", system-ui;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width:100vw;
  overflow-x: hidden;
}
 .hero{
  font-family: "Aboreto", system-ui;
}
.app-container{
  width: 100%;
  height: 100%;
  background-color: rgba(32, 27, 27, 0.404);
}

a{
  text-decoration:  none;
  color: white;
}
