.hero{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: url('../assets/portfolio-1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.bg{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.325);
}


.name, .info{
  color:white;
  text-align: center;
}
.name{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
  font-size: 40px;
}
.name h1{
  padding: 0;
  margin: 5px 0;
}

#separator{
  display: block;
  margin:0 auto;
}

.contact-links{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 10px;
  color: white;
  font-size: 45px;
}
.contact-links> *{
  transition: color 0.3s ease-in-out;
}
.contact-links > *:hover{
 color: rgba(255, 255, 255, 0.723);
}